{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <br>

    <p> 사료 구매 페이지(3가지의 사료 종류) </p>

    <br> <br>

    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'main:feed_1' %}'"> 1. 옥수수 300g</button>

    <!-- Indicates caution should be taken with this action -->
    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'main:feed_2' %}'">  2. 쌀겨 200g</button>

    <!-- Indicates a dangerous or potentially negative action -->
    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'main:feed_3' %}'"></a> 3. 대두박 150g</button>


{% endblock %}
