{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}

    <img src="{% static "img/feed3.png" %}" width="400" height="250">

    <table class="table">

        <thead>
        <tr>
            <th scope="col">목차</th>
            <th scope="col">상세내용</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th scope="row">사료</th>
            <td>대두박 150g</td>
        </tr>
        <tr>
            <th scope="row">원산지</th>
            <td>경기 시흥</td>
        </tr>
        <tr>
        <th scope="row">가격</th>
        <td>11000원</td>
        </tr>
        </tbody>
    </table>


    {% if card %}
    <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <!--
    <form>
    <div class="form-group">
        <label for="exampleInputEmail1"> 사료카드(농협 계좌번호) </label>
        <p>{{card}}</p>
        <input type="hidden" id="card" value="{{card}}">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1"> 결제 금액 </label>
        <input type="Number" class="form-control" id="Money" aria-describedby="emailHelp" placeholder="" value="11">
    </div>
    -->

    <button type="submit" class="btn btn-primary"> 결제하기 </button>
    </form>
    {% endif %}

    {% if msg %}
        <script>alert('{{ msg }}');</script>
    {% endif %}


{% endblock content %}
