{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="jumbotron">
        <h1 class="display-3"> 우리돼지뭐먹었니</h1>
        <br>
        <p class="lead"> 구매하는 고기가 어떤 사료를 먹고 자랐는지 소비자에게 보여주는 서비스</p>
        <hr class="my-4">
        <br>
        <p> 상세 내용</p>
        <p> 1. 농협몰, 농협하나로마트에서 사육농가가 구매하는 사료 정보 획득(농협 API 사용)</p>
        <p> 2. 사료 구매 내역을 분산 저장 및 구매내역 공유 - 농협중앙회, 농협몰, 농협하나로마트(루프체인 API 사용) </p>
        <p> 3. 소비자가 고기를 구매할 때 해당 고기가 어떤 사료를 먹었는지 정보 공개(루프체인 API 사용) </p>
        <br>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'main:feed' %}" role="button"> 시연 보기</a>
        </p>
    </div>

{% endblock %}
