{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <br>

    <p> 고기 구매 페이지(3가지의 축산물 종류) </p>

    <br> <br>

    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'main:meat_1' %}'"> 1. 소고기(재현)</button>

    <!-- Indicates caution should be taken with this action -->
    <button type="button" class="btn btn-warning" onclick="location.href='{% url 'main:meat_2' %}'">  2. 돼지고기(현택)</button>

    <!-- Indicates a dangerous or potentially negative action -->
    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'main:meat_3' %}'"> 3. 닭고기(하늘)</button>


{% endblock %}
